* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8dbd5;
    
    font-family: 'Noto Sans', sans-serif;
}

i {
    font-size: 1.5rem;
    color: #b1b1b1;
}

/* app */
#app {
    width: 100vw;
    height: 100vh;
}

#app #background-top {
    background-color: #009688;
    height: 150px;
}

/* app-inner */
#app #app-inner {
    width: 90%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 30px;
    left: 0;
    right: 0;

    display: flex;
    flex-flow: row nowrap;
}

/* app-inner-left */
#app #app-inner #app-inner-left {
    width: 30%;
    height: 100%;
}

/* user */
#user {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* user-details */
#user #user-details {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
}

#user #user-details #user-picture {
    height: 100%;
    aspect-ratio: 1;
}

#user #user-details #user-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}
/* /user-details */

/* user-commands */
#user #user-commands {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.5rem;
}
/* /user-commands */
/* /user */

/* notify-banner */
#notify-banner {
    background-color: #8edafc;
    width: 100%;
    height: 80px;
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
}

#notify-banner #notify-icon {
    background-color: #fff;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#notify-banner #notify-icon i {
    color: #8edafc;
}

#notify-banner #notify-banner-text {
    display: flex;
    flex-flow: column nowrap;
}

#notify-banner #notify-banner-text span {
    font-size: .8rem;
    opacity: .7;
    text-decoration: underline;
}
/* /notify-banner */

/* search-bar */
#search-bar {
    background-color: #fafafa;
    width: 100%;
    height: 40px;
    padding: .3rem;

    display: flex;
    flex-flow: row nowrap;
}

#search-bar span {
    background-color: white;
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar span i {
    font-size: 1rem;
}

#search-bar input {
    width: 80%;
    height: 100%;
    padding: 0 5px;
    border: 1px solid #fafafa;
}
/* /search-bar */

/* contact-list */
#contact-list {
    background-color: white;
    width: 100%;
    height: calc(100% - 80px - 80px - 40px);

    overflow-y: scroll;
}

#contact-list ul li.contact {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-top: 1px solid #e9ebeb;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    cursor: pointer;
}

#contact-list ul li.contact:hover {
    background-color: #e9ebeb;
    border-color: white;
}

#contact-list ul li.contact.active {
    background-color: #e9ebeb;
    border-color: white;
}

#contact-list ul li.contact .contact-details {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

#contact-list ul li.contact .contact-details .contact-details-left .contact-picture {
    height: 100%;
    aspect-ratio: 1;
}

#contact-list ul li.contact .contact-details .contact-details-left .contact-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#contact-list ul li.contact .contact-details .contact-details-right .contact-last-message {
    font-size: .8rem;
    opacity: .7;
}

#contact-list ul li.contact .contact-last-message-time {
    font-size: .8rem;
    opacity: .7;
}
/* /contact-list */
/* /app-inner-left */

/* app-inner-right */
#app #app-inner-right {
    width: 70%;
    height: 100%;
}

/* chat-header */
#chat-header {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    border-left: 1px solid #b7b7b7;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* chat-header-left */
#chat-header #chat-header-left {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
}

#chat-header #chat-header-left #chat-picture {
    height: 100%;
}

#chat-header #chat-header-left #chat-picture img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 50%;
}

#chat-header #chat-header-left #chat-header-left-inner {
    display: flex;
    flex-flow: column nowrap;
}

#chat-header #chat-header-left #chat-header-left-inner #last-login {
    font-size: .8rem;
    opacity: .7;
}
/* /chat-header-left */

/* chat-header-right */
#chat-header #chat-header-right {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
}
/* /chat-header-right */
/* /chat-header */

/* chat-body */
#chat-body {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 80px - 70px);
    padding: 2rem 4rem;
    border-left: 1px solid #b7b7b7;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    overflow-y: scroll;
}

#chat-body .message {
    background-color: white;
    max-width: 70%;
    margin-bottom: .7rem;
    padding: 1rem 4rem 1rem 1rem;
    border-radius: 10px;

    position: relative;

    display: flex;
    justify-content: start;
}

#chat-body .message.sent {
    background-color: #d5f9ba;

    align-self: flex-end;
}

#chat-body .message .message-time {
    position: absolute;
    bottom: .5rem;
    right: .5rem;

    font-size: .8rem;
    opacity: .7;
}

#chat-body .message .message-options i {
    display: none;

    position: absolute;
    top: 50%;
    right: .5rem;

    transform: translateY(-50%);
    cursor: pointer;
}

#chat-body .message:hover .message-options i {
    display: block;
}

#chat-body .message .message-options ul {
    display: none;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid lightgray;

    flex-flow: column nowrap;
    gap: 1rem;
    
    position: absolute;
    top: calc(50% + .5rem);
    right: .5rem;
    z-index: 1;

    list-style-type: none;
    font-size: 0.9rem;
}

#chat-body .message .message-options ul li {
    cursor: pointer;
}

#chat-body .message .message-options:hover ul {
    display: flex;
}
/* /chat-body */

/* chat-input */
#chat-input {
    background-color: #f3eeea;
    width: 100%;
    height: 70px;
    padding: .7rem 1rem;
    border-left: 1px solid #b7b7b7;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#chat-input i {
    color: #6b7376;
}

#chat-input input {
    width: 80%;
    height: 100%;
    padding: 0 1rem;
    border: 0;
    border-radius: 5px;
}
/* /chat-input */
/* /app-inner-right */
/* /app-inner */
/* /app */