* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

i {
    font-size: 1.5rem;
    color: #b1b1b1;
}

/* app */
#app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
}

/* app-left */
#app #app-left {
    width: 30%;
    height: 100%;
}

/* user-details */
#app #app-left #user-details {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* user-details-left */
#app #app-left #user-details #user-details-left {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
}

#app #app-left #user-details #user-details-left #user-picture {
    height: 100%;
    aspect-ratio: 1;
}

#app #app-left #user-details #user-details-left #user-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}
/* /user-details-left */

/* user-details-right */
#app #app-left #user-details #user-details-right {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.5rem;
}
/* /user-details-right */
/* /user-details */

/* notify-banner */
#app #app-left #notify-banner {
    background-color: #8edafc;
    width: 100%;
    height: 80px;
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
}

#app #app-left #notify-banner #notify-icon {
    background-color: #fff;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app #app-left #notify-banner #notify-icon i {
    color: #8edafc;
}

#app #app-left #notify-banner #notify-banner-inner {
    display: flex;
    flex-flow: column nowrap;
}

#app #app-left #notify-banner #notify-banner-inner span {
    font-size: .8rem;
    opacity: .7;
    text-decoration: underline;
}
/* /notify-banner */

/* search-bar */
#app #app-left #search-bar {
    background-color: #fafafa;
    width: 100%;
    height: 40px;
    padding: .3rem;

    display: flex;
    flex-flow: row nowrap;
}

#app #app-left #search-bar span {
    background-color: white;
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app #app-left #search-bar span i {
    font-size: 1rem;
}

#app #app-left #search-bar input {
    width: 80%;
    height: 100%;
    padding: 0 5px;
    border: 1px solid #fafafa;
}
/* /search-bar */

/* contact-list */
#app #app-left #contact-list {
    width: 100%;
    height: calc(100% - 80px - 80px - 40px);

    overflow-y: scroll;
}

#app #app-left #contact-list ul li.contact {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-top: 1px solid #e9ebeb;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#app #app-left #contact-list ul li.contact:hover {
    cursor: pointer;
}

#app #app-left #contact-list ul li.contact.active {
    background-color: #e9ebeb;
}

#app #app-left #contact-list ul li.contact .contact-details {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

#app #app-left #contact-list ul li.contact .contact-details .contact-details-left .contact-picture {
    height: 100%;
    aspect-ratio: 1;
}

#app #app-left #contact-list ul li.contact .contact-details .contact-details-left .contact-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#app #app-left #contact-list ul li.contact .contact-details .contact-details-right .contact-last-message {
    font-size: .8rem;
    opacity: .7;
}

#app #app-left #contact-list ul li.contact .contact-last-message-time {
    font-size: .8rem;
    opacity: .7;
}
/* /contact-list */
/* /app-left */

/* app-right */
#app #app-right {
    width: 70%;
    height: 100%;
}

/* chat-header */
#app #app-right #chat-header {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    border-left: 1px solid #b7b7b7;
}

#app #app-right #chat-header #contact-details {
    width: 100%;
    height: 100%;
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#app #app-right #chat-header #contact-details #contact-details-left {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
}

#app #app-right #chat-header #contact-details #contact-details-left #contact-picture {
    height: 100%;
}

#app #app-right #chat-header #contact-details #contact-details-left #contact-picture img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 50%;
}

#app #app-right #chat-header #contact-details #contact-details-left #contact-details-left-inner {
    display: flex;
    flex-flow: column nowrap;
}

#app #app-right #chat-header #contact-details #contact-details-left #contact-details-left-inner #last-login {
    font-size: .8rem;
    opacity: .7;
}

#app #app-right #chat-header #contact-details #contact-details-right {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
}
/* /chat-header */

/* chat-body */
#app #app-right #chat-body {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 80px - 70px);
    padding: 2rem 4rem;
    border-left: 1px solid #b7b7b7;

    overflow-y: scroll;
}

#app #app-right #chat-body .message-wrapper {
    display: flex;
    justify-content: start;
}

#app #app-right #chat-body .message-wrapper.user-message-wrapper {
    justify-content: end;
}

#app #app-right #chat-body .message-wrapper .message {
    background-color: white;
    /* width: 40%; */
    display: inline;
    margin-bottom: .7rem;
    padding: 1rem 4rem 1rem 1rem;
    border-radius: 10px;

    position: relative;
}

#app #app-right #chat-body .message-wrapper.user-message-wrapper .message {
    background-color: #d5f9ba;
}

#app #app-right #chat-body .message-wrapper .message .message-time {
    position: absolute;
    bottom: .5rem;
    right: .5rem;

    font-size: .8rem;
    opacity: .7;
}
/* /chat-body */

/* chat-input */
#app #app-right #chat-input {
    background-color: #f3eeea;
    width: 100%;
    height: 70px;
    padding: .7rem 1rem;
    border-left: 1px solid #b7b7b7;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#app #app-right #chat-input i {
    color: #6b7376;
}

#app #app-right #chat-input input {
    width: 80%;
    height: 100%;
    padding: 0 1rem;
    border: 0;
    border-radius: 5px;
}
/* /chat-input */
/* /app-right */
/* /app */