* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* app */
#app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
}

/* app-left */
#app #app-left {
    width: 30%;
    height: 100%;
}

/* user-details */
#app #app-left #user-details {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* user-details-left */
#app #app-left #user-details #user-details-left {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#app #app-left #user-details #user-details-left #user-picture {
    height: 100%;
    aspect-ratio: 1;
}

#app #app-left #user-details #user-details-left #user-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}
/* /user-details-left */

/* user-details-right */
#app #app-left #user-details #user-details-right {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}
/* /user-details-right */
/* /user-details */

/* notify-banner */
#app #app-left #notify-banner {
    background-color: #8edafc;
    width: 100%;
    height: 80px;
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

#app #app-left #notify-banner #notify-icon {
    background-color: #fff;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app #app-left #notify-banner #notify-icon {
    color: #8edafc;
}

#app #app-left #notify-banner #notify-banner-inner {
    display: flex;
    flex-flow: column nowrap;
}
/* /notify-banner */

/* search-bar */
#app #app-left #search-bar {
    background-color: #fafafa;
    width: 100%;
    height: 40px;
    padding: 5px;

    display: flex;
    flex-flow: row nowrap;
}

#app #app-left #search-bar span {
    background-color: white;
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app #app-left #search-bar input {
    width: 90%;
    height: 100%;
    padding: 0 5px;
    border: 1px solid #fafafa;
}
/* /search-bar */

/* contact-list */
#app #app-left #contact-list {
    width: 100%;
    height: calc(100% - 80px - 80px - 40px);

    overflow-y: scroll;
}

#app #app-left #contact-list ul li.contact {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-top: 1px solid #e9ebeb;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#app #app-left #contact-list ul li.contact:hover {
    cursor: pointer;
}

#app #app-left #contact-list ul li.contact.active {
    background-color: #e9ebeb;
}

#app #app-left #contact-list ul li.contact .contact-details {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

#app #app-left #contact-list ul li.contact .contact-details .contact-details-left .contact-picture {
    height: 100%;
    aspect-ratio: 1;
}

#app #app-left #contact-list ul li.contact .contact-details .contact-details-left .contact-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/* /contact-list */
/* /app-left */

/* app-right */
#app #app-right {
    width: 70%;
    height: 100%;
}

/* chat-header */
#app #app-right #chat-header {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    border-left: 1px solid #b7b7b7;
}

#app #app-right #chat-header #contact-details {
    width: 100%;
    height: 100%;
    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#app #app-right #chat-header #contact-details #contact-details-left {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

#app #app-right #chat-header #contact-details #contact-details-left #contact-picture {
    height: 100%;
}

#app #app-right #chat-header #contact-details #contact-details-left #contact-picture img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 50%;
}

#app #app-right #chat-header #contact-details #contact-details-left #contact-details-left-inner {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

#app #app-right #chat-header #contact-details #contact-details-right {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
/* /chat-header */

/* chat-body */
#app #app-right #chat-body {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 80px - 80px);
    border-left: 1px solid #b7b7b7;

    overflow-y: scroll;
}
/* /chat-body */

/* chat-input */
#app #app-right #chat-input {
    background-color: #d3cecb;
    width: 100%;
    height: 80px;
    border-left: 1px solid #b7b7b7;
}
/* /chat-input */
/* /app-right */
/* /app */